In [1]:
import pandas as pd
data=pd.read_csv('GameSales.csv',encoding='latin-1')
data

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
...,...,...,...,...,...,...,...,...,...,...
608,609,Biomutant,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,610,Biomutant,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,611,de Blob,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,612,Outcast: Second Contact,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,613,Code Vein,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

a. Compute mean of a series grouped by another series

In [2]:
import numpy as np
data.groupby('Genre')['Global'].mean()

Genre
Action              0.343605
Action-Adventure    0.563548
Adventure           0.102553
Fighting            0.370588
MMO                 0.760000
Misc                0.181429
Music               0.328571
Platform            0.080312
Puzzle              0.020909
Racing              0.382340
Role-Playing        0.356889
Shooter             1.317286
Simulation          0.119048
Sports              0.707167
Strategy            0.051667
Visual Novel        0.010000
Name: Global, dtype: float64

b. Fill an intermittent time series to replace all missing dates with values of previous non-missing dates

In [3]:
data['Year'].fillna(inplace=True,method='ffill')

c. Perform appropriate year-month string to dates conversion

In [4]:
from datetime import datetime
date=list()
for i in data['Year']:
    date.append(datetime.strptime(str(i),'%Y.%M'))
data['Year']=date
data

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014-01-01,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015-01-01,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017-01-01,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018-01-01,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014-01-01,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
...,...,...,...,...,...,...,...,...,...,...
608,609,Biomutant,2018-01-01,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,610,Biomutant,2019-01-01,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,611,de Blob,2017-01-01,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,612,Outcast: Second Contact,2017-01-01,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,613,Code Vein,2019-01-01,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

d. Split a dateset to group by two columns and then sort the aggregated results within the groups

In [24]:

pd.pivot_table(data,values='Global',index=['Genre','Year'],aggfunc='mean').sort_values(by='Global')

                               Global
Genre            Year
Adventure        2013-01-01  0.000000
                 2020-01-01  0.000000
Puzzle           2014-01-01  0.000000
Platform         2020-01-01  0.000000
Misc             2020-01-01  0.000000
...                               ...
Shooter          2015-01-01  1.595882
Action           2013-01-01  1.642500
Shooter          2014-01-01  1.750000
Action-Adventure 2018-01-01  2.273333
Shooter          2013-01-01  2.580000

[90 rows x 1 columns]

e. Split a given dataframe into groups with bin counts

In [30]:
grouped=data.groupby(['Genre',pd.cut(data['Global'],5)])
grouped.size().unstack()

Global,"(-0.00872, 1.744]","(1.744, 3.488]","(3.488, 5.232]","(5.232, 6.976]","(6.976, 8.72]"
Genre,,,,,
Action,142,3,1,0,1
Action-Adventure,30,0,0,1,0
Adventure,47,0,0,0,0
Fighting,17,0,0,0,0
MMO,2,0,0,0,0
Misc,48,0,0,1,0
Music,14,0,0,0,0
Platform,32,0,0,0,0
Puzzle,11,0,0,0,0
Racing,44,2,1,0,0
Role-Playing,43,1,1,0,0
Shooter,50,12,6,1,1
Simulation,21,0,0,0,0
Sports,50,9,1,0,0
Strategy,18,0,0,0,0
Visual Novel,2,0,0,0,0